.popup__place-name {
    margin: 10px 0 0;
    padding: 0;
    position: absolute;
    bottom: -26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}