.popup__title {
  margin: 34px 64px 38px 36px;
  padding: 0;
  max-width: 330px;
  grid-column: 1/2;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #000;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin: 25px auto 38px;
    width: 238px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}