.popup__container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  max-height: fit-content;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
  }
}