.popup__preloader_active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url("../../../images/splash/splash.svg") center/50% no-repeat white;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s linear;
}