.popup__preloader_active {
  visibility: visible;
  opacity: 1;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../images/splash/splash.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 1s, opacity 1s linear;
}

/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: fit-content;
} */

/* .load{
 width: 100%;
 height: fit-content;
} */
