.popup__close {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -38px;
  right: -38px;
  z-index: 998;
  background: url("../../../images/main-pics/close.svg") center/100% no-repeat transparent;
  width: 32px;
  height: 32px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0px;
  }
}
