.popup__container-close {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -38px;
  right: -38px;
  background-image: url(../../../images/main-pics/close.svg);
  background-size: 32px 32px;
  background-color: rgba(0, 0, 0, 0%);
  width: 32px;
  height: 32px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__container-close {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    right: 0px;
  }
}