.profile__edit-button {
  margin: 19px 0 0 23px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/main-pics/edit.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  grid-area: b-e;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .profile__edit-button {
    margin: 10px 0 0 10px;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin: 0 0 5px 10px;
  }
}
