.profile__title {
  margin: 22px 0 8px;
  padding: 0;
  width: 294px;
  max-height: fit-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 1.14;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .profile__title {
    font-size: 1.6875rem;
    line-height: 2.0625rem;
    text-align: center;
    width: 189px;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    margin: 0 0 6px 46px;
    text-align: end;
    width: 189px;
    max-height: fit-content;
  }
}