.footer {
  margin: 0 auto 60px;
  padding: 0;
  width: 880px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 581px;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 36px;
    width: 282px;
  }
}