.profile__avatar-wrapper {
  margin: 0;
  padding: 0;
  max-width: 120px;
  max-height: 120px;
  grid-area: img;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 2;
}

.profile__avatar-wrapper:hover {
  transition: opacity 0.5s ease;
  opacity: 0.8;
}

.profile__avatar-wrapper::before {
  display: none;
  position: absolute;
  z-index: 3;
}

.profile__avatar-wrapper:hover::before {
  display: flex;
  content: "";
  background: url("../../../images/main-pics/edit.svg") no-repeat center/26px 26px;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 767px) {
  .profile__avatar-wrapper {
    margin: 0 auto 26px;
    justify-self: center;
  }
}
