.element__delete {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../images/main-pics/delete.svg);
  background-size: 18px 19px;
  border: none;
  outline: none;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.element__delete:hover {
  opacity: 0.6;
}
