.profile__avatar {
  margin: 0;
  padding: 0;
  justify-content: start;
  max-width: 120px;
  max-height: 120px;
  object-position: center;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 50%;
  grid-area: img;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: 0 auto 26px;
    justify-self: center;
  }
}