.element__like {
  margin: 23px 21px 0 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/main-pics/inactive-like.svg);
  background-repeat: no-repeat;
  background-size: 22px 19px;
  background-color: transparent;
  border: none;
  outline: none;
  justify-self: end;
  grid-area: like;
  cursor: pointer;
  transition: opacity .5s ease;
  position: relative;
  display: flex;
  justify-content: center;
}

.element__like:hover {
  opacity: .5;
}
