.element__place-name {
  margin: 25px 0 0 21px;
  padding: 0;
  grid-area: pls;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 767px){
  .element__place-name{
    margin-top: 30px;
  }
}