.popup {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}